<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Library!</title>
  </head>
  <style>
  .hleft{
    display: inline-block;

  }
  .hright{
    display: inline-block;
    float: right;
  }
  .bookreviews{
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: thin;
    width: 400px;
    height: 600px;
  }
  .booklist{
    margin-left: 90px;
    display: inline-block;
    border-style: solid;
    border-color: black;
    border-width: thin;
  }
  </style>
  <body>
    <div id="wrapper">
        <div class="header">
            <div class="hleft">
                <h1>Welcome, {{ session.user.name }}!</h1>
            </div>
            <div class="hright">
              <form action='addnew'>
                <button>Add Book and Review</button>
              </form>
              <form action='/'>
                <button>Logout</button>
              </form>
            </div>
        </div>

        <div class="bookreviews">
          <h1>Recent Book Reviews: </h1>
                                        <!-- END OF BOOKREVIEWS -->
        </div>
        <div class="booklist">
          <h1>Other Books with Reviews: </h1>
          <div class="booktable">
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ book.title }}</td>
                  <td>{{ book.author }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
                                          <!-- END OF BOOKLIST -->

    </div>
  </body>
</html>
